<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
